{% extends 'index.html.twig' %}

{% block contentvote %}

        <div class="container-fluid">
            <div class="container text-center text-uppercase mt-5 pt-5">
                <div class="row d-block">
                    {# <p class="h3 mt-5 font-weight-bold">{{ }},</p>  <!--A COMPLETER VARIABLE-->
                    <p class="h3 font-weight-bold">Comment vous sentez-vous ce {{ }}?</p> <!--A COMPLETER VARIABLE--> #}
                    <div class="div mt-5">
                        <ul class="list-unstyled d-flex flex-row justify-content-between">
                            {% for emotion in emotions %}
                                <li class="d-flex flex-column">
                                    <a href="{{ path('reponse', { 'id': emotion.id}) }}">
                                    <input type="image" src="{{ emotion.imagesrc }}" alt="{{ emotion.name }}"></a>
                                    <label for="tired" class="tired text-uppercase h3">{{ emotion.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mt-5">
                        <p><a href="{{ path('logout') }}">Déconnexion</a></p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
  


